{% extends 'base.html' %}
{% load bootstrap3 formset_tags %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
            {{ field.label }}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if referent_formset.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
            {{ field.label }}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<h1>Ajouter un projet</h1>
<form action="{% url 'add' %}" method="post" class="form" enctype='multipart/form-data'>
    {% csrf_token %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.description %}
    {% bootstrap_field form.image %}
    {% bootstrap_field form.begin %}
    <script type="text/javascript">
        $('#id_begin').datepicker({format: 'dd/mm/yyyy',});
    </script>
    {% bootstrap_field form.end %}
    <script type="text/javascript">
        $('#id_end').datepicker({format: 'dd/mm/yyyy',});
    </script>
    {% bootstrap_field form.url %}
    <h2>Porteurs de projet</h2>

<div id="leader_formset" data-formset-prefix="{{ leader_formset.prefix }}">
    {{ leader_formset.management_form }}
    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in leader_formset %}
        <div data-formset-form>
            <div class="container">
                <div class="row well">
                    {% bootstrap_field form.type %}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    {% bootstrap_field form.name  %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form>
            <div class="container">
                <div class="row well">
                    {% bootstrap_field leader_formset.empty_form.type %}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    {% bootstrap_field leader_formset.empty_form.name %}
                </div>
            </div>
        </div>
        {% endescapescript %}
    </script>

    {% buttons %}
    <input class="btn btn-primary" type="button" value="Ajouter un porteur de projet" data-formset-add>
    {% endbuttons %}

    <script>jQuery(function($) {
        $("#leader_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>

</div>


    <h2>Périmètre du projet</h2>

    <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="tab" href="#commune" role="tab">Commune</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#epci" role="tab">EPCI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#department" role="tab">Département</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#region" role="tab">Région</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#country" role="tab">Pays/PETR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#autre" role="tab">Autre</a>
        </li>
    </ul>

<div class="tab-content">
  <div class="tab-pane active" id="commune" role="tabpanel">
    {% bootstrap_field form.town_name %}
    {% bootstrap_field form.town_insee %}
  </div>
  <div class="tab-pane" id="epci" role="tabpanel">
      {% bootstrap_field form.epci_name %}
      {% bootstrap_field form.epci_siren %}
  </div>
  <div class="tab-pane" id="department" role="tabpanel">
      {% bootstrap_field form.department %}
  </div>
  <div class="tab-pane" id="region" role="tabpanel">
      {% bootstrap_field form.region %}
  </div>
  <div class="tab-pane" id="country" role="tabpanel">
        {% bootstrap_field form.land %}
  </div>
  <div class="tab-pane" id="autre" role="tabpanel">
    {% bootstrap_field form.geom %}
    {% bootstrap_field form.shapefile %}
  </div>
</div>


<h2>Personnes en charge du dossier</h2>

<div id="referent_formset" data-formset-prefix="{{ referent_formset.prefix }}">
    {{ referent_formset.management_form }}
    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in referent_formset %}
        <div data-formset-form>
            <div class="container">
                <div class="row well">
                    {% bootstrap_field form.firstname %}
                    {% bootstrap_field form.lastname %}
                    {% bootstrap_field form.structure %}
                    {% bootstrap_field form.service %}
                    {% bootstrap_field form.function %}
                    {% bootstrap_field form.mail %}
                    {% bootstrap_field form.phone %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form>
            <div class="container">
                <div class="row well">
                    {% bootstrap_field referent_formset.empty_form.firstname %}
                    {% bootstrap_field referent_formset.empty_form.lastname %}
                    {% bootstrap_field referent_formset.empty_form.structure %}
                    {% bootstrap_field referent_formset.empty_form.service %}
                    {% bootstrap_field referent_formset.empty_form.function %}
                    {% bootstrap_field referent_formset.empty_form.mail %}
                    {% bootstrap_field referent_formset.empty_form.phone %}
                </div>
            </div>
        </div>
        {% endescapescript %}
    </script>

    {% buttons %}
    <input class="btn btn-primary" type="button" value="Ajouter un référent" data-formset-add>
    {% endbuttons %}

    <script>jQuery(function($) {
        $("#referent_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>

</div>




<h2>Thématiques</h2>
{% bootstrap_field form.themes %}
{% bootstrap_field form.themes_others %}
<h2>Acteurs de l'ingénierie mobilisés</h2>

<div id="stakeholdertype_formset" data-formset-prefix="{{ stakeholdertype_formset.prefix }}">
    {{ stakeholdertype_formset.management_form }}
    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in stakeholdertype_formset %}
        <div data-formset-form>
            <div class="container">
                <div class="row well">
                    {% bootstrap_field form.stakeholder %}
                    {% bootstrap_field form.detail %}
                    {% bootstrap_field form.manager %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form>
            <div class="container">
                <div class="row well">
                    {% bootstrap_field stakeholdertype_formset.empty_form.stakeholder %}
                    {% bootstrap_field stakeholdertype_formset.empty_form.detail %}
                </div>
            </div>
        </div>
        {% endescapescript %}
    </script>

    {% buttons %}
    <input class="btn btn-primary" type="button" value="Ajouter un acteur" data-formset-add>
    {% endbuttons %}

    <script>jQuery(function($) {
        $("#stakeholdertype_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>

</div>

<h2>Financement</h2>
{% bootstrap_field form.funding_european %}
{% bootstrap_field form.funding_national %}
{% bootstrap_field form.funding_regional %}
{% bootstrap_field form.funding_departmental %}
{% bootstrap_field form.funding_other %}


<h2>Eléments déclencheur</h2>
{% bootstrap_field form.triggers %}
{% bootstrap_field form.triggers_others %}
<h2>Types d'interventions</h2>
{% bootstrap_field form.interventions %}
{% bootstrap_field form.interventions_others %}
<h2>Missions</h2>
{% bootstrap_field form.structure_challenges %}

<h2>Calendrier</h2>
{% bootstrap_field form.schedule %}
{% bootstrap_field form.state %}
<h2>Conditions de réussite, blocages et solutions</h2>
<p>Les 3 points devront être brièvement présentés</p>
{% bootstrap_field form.obstables show_label=False %}

<h2>Champ libre</h2>
{% bootstrap_field form.comments show_label=False %}

{% bootstrap_field form.attachment %}

{% buttons %}
<button type="submit" class="btn btn-primary btn-block">
    Enregistrer
</button>
{% endbuttons %}
</form>

{% endblock %}
