{% extends 'base.html' %}
{% load bootstrap3 formset_tags %}

{% block content %}

<h1>Ajouter un projet</h1>
<form action="/url/to/submit/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_field form.name placeholder="popop" %}
    {% bootstrap_field form.description %}
    <h2>Porteur(s) de projet</h2>

<div id="leader_formset" data-formset-prefix="{{ leader_formset.prefix }}">
    {{ leader_formset.management_form }}
    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in leader_formset %}
        <div data-formset-form>
            <div class="container">
                <div class="row">
                    {% bootstrap_field form.type %}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    {% bootstrap_field form.name  %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form>
            <div class="container">
                <div class="row">
                    {% bootstrap_field leader_formset.empty_form.type %}
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    {% bootstrap_field leader_formset.empty_form.name %}
                </div>
            </div>
        </div>
        {% endescapescript %}
    </script>

    {% buttons %}
    <input class="btn btn-primary" type="button" value="Ajouter un porteur de projet" data-formset-add>
    {% endbuttons %}

    <script>jQuery(function($) {
        $("#leader_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>

</div>


    <h2>Périmètre du projet</h2>

    <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"  data-toggle="tab" href="#commune" role="tab">Commune</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#epci" role="tab">EPCI</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#department" role="tab">Département</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#region" role="tab">Région</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#country" role="tab">Pays/PETR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="tab" href="#autre" role="tab">Autre</a>
        </li>
    </ul>

<div class="tab-content">
  <div class="tab-pane active" id="department" role="tabpanel">
      {% bootstrap_field form.department %}
  </div>
  <div class="tab-pane" id="region" role="tabpanel">
      {% bootstrap_field form.region %}
  </div>
  <div class="tab-pane" id="country" role="tabpanel">
  </div>
  <div class="tab-pane" id="epci" role="tabpanel">
      {% bootstrap_field form.epci_name %}
      {% bootstrap_field form.epci_siren %}
  </div>
  <div class="tab-pane" id="commune" role="tabpanel">
    {% bootstrap_field form.town_name %}
    {% bootstrap_field form.town_insee %}
</div>
<div class="tab-pane" id="autre" role="tabpanel">
</div>
</div>

{% bootstrap_field form.geom %}
<h2>Référents</h2>

<div id="referent_formset" data-formset-prefix="{{ referent_formset.prefix }}">
    {{ referent_formset.management_form }}
    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in referent_formset %}
        <div data-formset-form>
            <div class="container">
                <div class="row">
                    {% bootstrap_field form.firstname %}
                    {% bootstrap_field form.lastname %}
                    {% bootstrap_field form.structure %}
                    {% bootstrap_field form.service %}
                    {% bootstrap_field form.function %}
                    {% bootstrap_field form.mail %}
                    {% bootstrap_field form.phone %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form>
            <div class="container">
                <div class="row">
                    {% bootstrap_field referent_formset.empty_form.firstname %}
                    {% bootstrap_field referent_formset.empty_form.lastname %}
                    {% bootstrap_field referent_formset.empty_form.structure %}
                    {% bootstrap_field referent_formset.empty_form.service %}
                    {% bootstrap_field referent_formset.empty_form.function %}
                    {% bootstrap_field referent_formset.empty_form.mail %}
                    {% bootstrap_field referent_formset.empty_form.phone %}
                </div>
            </div>
        </div>
        {% endescapescript %}
    </script>

    {% buttons %}
    <input class="btn btn-primary" type="button" value="Ajouter un référent" data-formset-add>
    {% endbuttons %}

    <script>jQuery(function($) {
        $("#referent_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>

</div>




<h2>Thématiques</h2>
{% bootstrap_field form.themes %}
{% bootstrap_field form.themes_others %}
<h2>Pilotage de la mission d'appui</h2>
{% bootstrap_field form.manager %}
{% bootstrap_field form.manager_other %}
<h2>Eléments déclencheur</h2>
{% bootstrap_field form.triggers %}
{% bootstrap_field form.triggers_others %}
<h2>Types d'interventions</h2>
{% bootstrap_field form.interventions %}
{% bootstrap_field form.interventions_others %}
<h2>Missions</h2>
{% bootstrap_field form.structure_challenges %}
<h2>Compétences de la structure</h2>
{% bootstrap_field form.mobilized_skills %}
{% bootstrap_field form.mobilized_skills_others %}
{% bootstrap_field form.missing_skills %}
{% bootstrap_field form.missing_skills_others %}
<h2>Acteurs de l'ingénierie mobilisés</h2>

<div id="stakeholdertype_formset" data-formset-prefix="{{ stakeholdertype_formset.prefix }}">
    {{ stakeholdertype_formset.management_form }}
    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in stakeholdertype_formset %}
        <div data-formset-form>
            <div class="container">
                <div class="row">
                    {% bootstrap_field form.stakeholder %}
                    {% bootstrap_field form.detail %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form>
            <div class="container">
                <div class="row">
                    {% bootstrap_field stakeholdertype_formset.empty_form.stakeholder %}
                    {% bootstrap_field stakeholdertype_formset.empty_form.detail %}
                </div>
            </div>
        </div>
        {% endescapescript %}
    </script>

    {% buttons %}
    <input class="btn btn-primary" type="button" value="Ajouter un acteur" data-formset-add>
    {% endbuttons %}

    <script>jQuery(function($) {
        $("#stakeholdertype_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>

</div>


<h2>Calendrier</h2>
{% bootstrap_field form.schedule %}
<h2>Conditions de réussite, blocages et solutions</h2>
<p>Les 3 points devront être brièvement présentés</p>
{% bootstrap_field form.obstables show_label=False %}

<h2>Champ libre</h2>
{% bootstrap_field form.comments show_label=False %}

{% buttons %}
<button type="submit" class="btn btn-primary btn-block">
    Enregistrer
</button>
{% endbuttons %}
</form>

{% endblock %}
