{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<h1>Ajouter un projet</h1>
<form action="/url/to/submit/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.description %}
    <h2>Porteur de projet</h2>
    {% bootstrap_field form.project_leader_type %}
    {% bootstrap_field form.project_leader_name %}
    <h2>Périmètre du projet</h2>
    {% bootstrap_field form.region %}
    {% bootstrap_field form.department %}
    {% bootstrap_field form.epci_name %}
    {% bootstrap_field form.epci_siren %}
    {% bootstrap_field form.town_name %}
    {% bootstrap_field form.town_insee %}
    {% bootstrap_field form.geom %}
    <h2>Référents</h2>
    {% bootstrap_formset referent_formset %}
    <h2>Thématiques</h2>
    {% bootstrap_field form.themes %}
    {% bootstrap_field form.themes_others %}
    <h2>Pilotage de la mission d'appui</h2>
    {% bootstrap_field form.manager %}
    {% bootstrap_field form.manager_other %}
    <h2>Eléments déclencheur</h2>
    {% bootstrap_field form.triggers %}
    {% bootstrap_field form.triggers_others %}
    <h2>Types d'interventions</h2>
    {% bootstrap_field form.interventions %}
    {% bootstrap_field form.interventions_others %}
    <h2>Missions</h2>
    {% bootstrap_field form.structure_challenges %}
    <h2>Compétences de la structure</h2>
    {% bootstrap_field form.mobilized_skills %}
    {% bootstrap_field form.mobilized_skills_others %}
    {% bootstrap_field form.missing_skills %}
    {% bootstrap_field form.missing_skills_others %}
    <h2>Acteurs de l'ingénierie mobilisés</h2>
    {% bootstrap_formset stakeholdertype_formset %}
    <h2>Calendrier</h2>
    {% bootstrap_field form.schedule %}
    <h2>Conditions de réussite, blocages et solutions</h2>
    {% bootstrap_field form.obstables %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>

{% endblock %}
