{% extends 'base.html' %}
{% load leaflet_tags bootstrap3 %}

{% block head %}
  {{ block.super }}
  <style>
    .leaflet-container {  /* all maps */
        width:  100%;
        height: 200px;
    }
  </style>
{% endblock head %}

{% block content %}

<h2>{{ project.name }}</h2>

{% if project.description %}
{{ project.description|linebreaks }}<br />
{% endif %}
{% if project.begin %}
Date de début du projet : {{ project.begin }}<br />
{% endif %}
{% if project.end %}
Date de fin du projet : {{ project.end }}<br />
{% endif %}

{% if project.image %}
<img src="{{ project.image.url }}" style="width:100px" /><br />
{% endif %}
{% if project.url %}
Lien vers le site du projet : <a href="{{ project.url }}" target="_blank">{{ project.url }}</a> <br />
{% endif %}

{% if project.leader_set.all %}
<h3>Porteurs de projet</h3>
{% for leader in project.leader_set.all %}
{{ leader.get_type_display }} {{ leader.name }}<br>
{% endfor %}
{% endif %}

<h3>Périmètre du projet</h3>
<ul>
{% if project.region %}
<li>Région : {{ project.region }}</li>
{% endif %}
{% if project.department %}
<li>Département : {{ project.department }}</li>
{% endif %}
{% if project.epci_name %}
<li>Nom de l'EPCI : {{ project.epci_name }}</li>
{% endif %}
{% if project.epci_siren %}
<li>N° Siren de l'EPCI : {{ project.epci_siren }}</li>
{% endif %}
{% if project.town_name %}
<li>Ville : {{ project.town_name }}</li>
{% endif %}
{% if project.town_insee %}
<li>Code INSEE de la ville : {{ project.town_insee }}</li>
{% endif %}
{% if project.land %}
<li>Pays / EPTR : {{ project.land }}</li>
{% endif %}
</ul>

{% if project.geom %}

{% leaflet_map "yourmap" %}

<script type="text/javascript">
  $(window).on('map:init', function (e) {
      var detail = e.originalEvent ?
                   e.originalEvent.detail : e.detail;

      var geojsonLayer = L.geoJson({{ geojson|safe }}, {
        style: function(feature) {
          switch (feature.properties.state) {
              case 'labeled': return {color: "#728C00", "opacity": 1};
              case 'engaged':   return {color: "#999999", "opacity": 1};
              case 'none': return {color: "#dddddd", "opacity": 1};
          }
        },
        pointToLayer: function(feature, latlng) {
          return new L.CircleMarker(latlng, {radius: 1, fillOpacity: 0.85});
        }
      }).addTo(detail.map);
      detail.map.fitBounds(geojsonLayer.getBounds());
  });
</script>
{% endif %}
{% if project.shapefile %}
shapefile : {{ project.shapefile }}<br />
{% endif %}

{% if project.referent_set.all %}
<h3>Référent(s) Etat pour l'accompagnement du projet</h3>
<ul>
{% for referent in project.referent_set.all %}
<li><a href="mailto:{{ referent.mail }}">{{ referent.mail }}</a></li>
{% comment %}<b>{{ referent.firstname }} {{ referent.lastname }}</b> - {{ referent.function }}<br>{{ referent.structure }}, {{ referent.service }}<br>Mail : <a href="mailto:{{ referent.mail }}">{{ referent.mail }}</a><br>Tél. : {{ referent.phone }}
{% endcomment %}
{% endfor %}
</ul>
{% endif %}

{% if project.themes.all or project.themes_others %}
<h3>Thématiques</h3>
<ul>
{% if project.themes.all %}
{% for theme in project.themes.all %}
<li>{{ theme }}</li>
{% endfor %}
{% endif %}
{% if project.themes_others %}
<li>{{ project.themes_others }}</li>
{% endif %}
</ul>
{% endif %}

{% if project.stakeholdertype_set.all %}
<h3>Acteurs de l'ingénierie mobilisés</h3>
{% if project.stakeholdertype_set.all %}
<ul>
{% for s in project.stakeholdertype_set.all %}
	<li>{{ s.detail }}{% if s.manager %}, Pilote du projet{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}


{% if project.funding_european or project.funding_national or project.funding_regional or project.funding_departmental or project.funding_other %}
  <h3>Financement</h3>
  <ul>
  {% if project.funding_european %}<li>Financement européen : {{ project.funding_european }}</li>{% endif %}
  {% if project.funding_national %}<li>Financement national : {{ project.funding_national }}</li>{% endif %}
  {% if project.funding_regional %}<li>Financement régional : {{ project.funding_regional }}</li>{% endif %}
  {% if project.funding_departmental %}<li>Financement départemental : {{ project.funding_departmental }}</li>{% endif %}
  {% if project.funding_other %}<li>Financement : {{ project.funding_other }}</li>{% endif %}
  </ul>
{% endif %}

{% if project.triggers.all or project.triggers_others %}
<h3>Eléments déclencheurs</h3>
<ul>
{% if project.triggers.all %}
{% for trigger in project.triggers.all %}
<li>{{ trigger.label }}</li>
{% endfor %}
{% endif %}
{% if project.triggers_others %}
<li>{{ project.triggers_others }}</li>
{% endif %}
</ul>
{% endif %}

{% if project.interventions.all or project.interventions_others %}
<h3>Types d'interventions</h3>
<ul>
{% if project.interventions.all %}
{% for intervention in project.interventions.all %}
<li>{{ intervention.label }}</li>
{% endfor %}
{% endif %}
{% if project.interventions_others %}
<li>{{ project.interventions_others }}</li>
{% endif %}
</ul>
{% endif %}

{% if project.structure_challenges %}
<h3>Missions</h3>
{{ project.structure_challenges|linebreaks  }}<br />
{% endif %}

<h3>Calendrier</h3>
<ul>
<li>Intervention : {{ project.schedule }}</li>
<li>Etat : {{ project.get_state_display }}</li>
</ul>

{% if project.obstables %}
<h3>Conditions de réussite, blocages et solutions</h3>
{{ project.obstables|linebreaks  }}<br />
{% endif %}

{% if project.comments or project.attachment %}
<h3>Commentaire</h3>
{{ project.comments|linebreaks  }}<br />
{% if project.attachment %}
Pièce jointe : <a href="{{ project.attachment.url }}">{{ project.attachment }}</a><br />
{% endif %}
{% endif %}
<br />

<hr>
Mise à jour de cette fiche : {{ project.update }} - Création : {{ project.creation }}<br />
<a class="btn btn-default" href="{% url 'update' project.pk %}">Mettre à jour</a>

{% endblock content %}